/* AGILE BOARD */

.sortable-list {
    padding: 10px 0;
}

.agile-list {
    list-style: none;
    margin: 0;
    li {
        background: #FAFAFB;
        border: 1px solid #e7eaec;
        margin: 0 0 10px 0;
        padding: 10px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        &:hover {
            cursor: pointer;
            background: #fff;
        }
        &.warning-element {
            border-left: 3px solid #f8ac59;
        }
        &.danger-element {
            border-left: 3px solid #ed5565;
        }
        &.info-element {
            border-left: 3px solid #1c84c6;
        }
        &.success-element {
            border-left: 3px solid #1ab394;
        }
    }
}

.agile-detail {
    margin-top: 5px;
    font-size: 12px;
}