.avatar {
    position: relative;
    top: 1px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.img-thumbnail {
        padding: 4px;
        max-width: none;
    }
}

.avatar,
.avatar-32 {
    @include create-avatar(32px, 20px);
}

.avatar-16 {
    @include create-avatar(16px, 10px);
}

.avatar-24 {
    @include create-avatar(24px, 16px);
}

.avatar-48 {
    @include create-avatar(48px, 32px);
}

.avatar-64 {
    @include create-avatar(64px, 40px);
}

.avatar-96 {
    @include create-avatar(96px, 64px);
}

.avatar-128 {
    @include create-avatar(128px, 80px);
}