.list-group.b-0 > .list-group-item {
  border-left: 0;
  border-right: 0;
}

.list-group.b-0 > .list-group-item:first-child,
.list-group.b-0 > .list-group-item:last-child {
  border-radius: 0;
}

.row-split [class*='col-lg']:not(:last-child):not(.col-ld-12) {
  @media (min-width: $screen-lg) {
    border-right: 1px solid $default-border-color;
  }
}

.row-split [class*='col-md']:not(:last-child):not(.col-md-12) {
  @media (min-width: $screen-md) {
    border-right: 1px solid $default-border-color;
  }
}

.row-split [class*='col-sm']:not(:last-child):not(.col-sm-12) {
  @media (min-width: $screen-sm) {
    border-right: 1px solid $default-border-color;
  }
}

.row-split [class*='col-xs']:not(:last-child):not(.col-xs-12) {
  border-right: 1px solid $default-border-color;
}

.b {
  border: 1px solid $default-border-color;

  &-0 {
    border: 0 !important;
  }

  &t {
    border-top: 1px solid $default-border-color;

    &-0 {
      border-top: 0 !important;
    }
  }

  &r {
    border-right: 1px solid $default-border-color;

    &-0 {
      border-right: 0 !important;
    }
  }

  &b {
    border-bottom: 1px solid $default-border-color;

    &-0 {
      border-bottom: 0 !important;
    }
  }

  &l {
    border-left: 1px solid $default-border-color;

    &-0 {
      border-left: 0 !important;
    }
  }
}

.border {
  border: 1px solid $default-border-color;

  &-0 {
    border: 0 !important;
  }

  &-top {
    border-top: 1px solid $default-border-color;

    &-0 {
      border-top: 0 !important;
    }
  }

  &-right {
    border-right: 1px solid $default-border-color;

    &-0 {
      border-right: 0 !important;
    }
  }

  &-bottom {
    border-bottom: 1px solid $default-border-color;

    &-0 {
      border-bottom: 0 !important;
    }
  }

  &-left {
    border-left: 1px solid $default-border-color;

    &-0 {
      border-left: 0 !important;
    }
  }
}

//
// Border-radius
//

.rounded {
  border-radius: $border-radius !important;

  &-top {
    border-top-left-radius: $border-radius !important;
    border-top-right-radius: $border-radius !important;
  }

  &-right {
    border-top-right-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
  }

  &-bottom {
    border-bottom-right-radius: $border-radius !important;
    border-bottom-left-radius: $border-radius !important;
  }

  &-left {
    border-top-left-radius: $border-radius !important;
    border-bottom-left-radius: $border-radius !important;
  }

  &-circle {
    border-radius: 50% !important;
  }

  &-0 {
    border-radius: 0 !important;
  }
}
