@each $breakpoint-name, $breakpoint-value in $breakpoints {
  .float-#{$breakpoint-name}-left {
    float: left !important;
  }

  .float-#{$breakpoint-name}-right {
    float: right !important;
  }

  .float-#{$breakpoint-name}-none {
    float: none !important;
  }
}
