.footer {
    width: 100%;
    padding-top: $grid-gutter-width;
    border-top-width: 1px;
    border-top-style: solid;

    &.navbar-default,
    &.navbar-default a {
        color: $navbar-default-color;
    }
    &.navbar-inverse,
    &.navbar-inverse a {
        color: $navbar-inverse-color;
    }

    &.bg-primary a {
        color: inherit;
    }
}

html.has-sticky-footer {
    position: relative;
    min-height: 100%;

    .footer {
        position: absolute;
        bottom: 0;
    }
}