.list-inline {
    &.separated li {
        padding: 0;
    }
    &.separated li+li:before {
        content: $inline-list-separator;
    }
    &.separated li+li * {
        display: inline-block;
    }
}

@media (max-width: $screen-xs-max) {
    .center-list-xs {
        display: table;
        margin: 0 auto;
        padding-left:0;
    }
}