@function breakpoint-min($name, $breakpoints: $grid-breakpoints-custom) {
    $min: map-get($breakpoints, $name);
    @return if($min !=0, $min, null);
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints-custom) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    }
    @else {
        @content;
    }
}

@mixin create-avatar($size, $fs) {
    max-height: $size;
    width: $size;
    height: 100%;
    font-size: $fs;
    line-height: $size;
}

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1)+$replace+str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

@mixin gutter($size) {
    $halfsize: $size/2;
    $grid-gutter-width-half: $grid-gutter-width/2;
    $jsize: -$grid-gutter-width-half + $halfsize;
    &.gutter-#{$size} {
        margin-right: -#{$halfsize}px;
        margin-left: -#{$halfsize}px;
        &.gutter-justified {
            @media (min-width: $screen-sm-min) {
                margin-right: #{$jsize};
                margin-left: #{$jsize};
            }
        }
        >[class^="col-"],
        >[class^=" col-"] {
            padding-right: #{$halfsize}px;
            padding-left: #{$halfsize}px;
        }
    }
}

// Drop shadows
@mixin box-shadow($shadow) {
    box-shadow: $shadow;
}

//circle button
@mixin btn-circle($size) {
    width: $size;
    height: $size;
    border-radius: ($size/2);
    font-size: (($size/10) * 4);
}