// Navmenu and offcanvas navbar
// --------------------------------------------------
// Wrapper and base class
//
// Provide a static navmenu from which we expand to create the fixed navmenu
// variations.
.navmenu,
.navbar-offcanvas {
    width: $navmenu-width;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: $border-radius-base;
}

.navmenu-fixed-left,
.navmenu-fixed-right,
.navbar-offcanvas {
    position: fixed;
    z-index: $zindex-navmenu-fixed;
    top: 0;
    border-radius: 0;
    overflow-y: auto;
}

.navmenu-fixed-left,
.navbar-offcanvas.navmenu-fixed-left {
    left: 0;
    right: auto;
    border-width: 0 1px 0 0;
    bottom: 0;
}

.navmenu-fixed-right,
.navbar-offcanvas {
    left: auto;
    right: 0;
    border-width: 0 0 0 1px;
}

.navmenu .navbar-nav {
    margin: 0;
    margin-bottom: $navmenu-margin-vertical;
    &.dropdown-menu {
        background-color: transparent;
        position: static;
        margin: 0;
        padding-top: 0;
        float: none;
        border: none;
        @include box-shadow(none);
        border-radius: 0;
    }
    @media (min-width: $grid-float-breakpoint) {
        width: auto;
        float: none;
    }
    >li {
        float: none !important;
        >a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

.navbar-offcanvas {
    .navbar-nav {
        margin: 0;
    }
    @media (min-width: $grid-float-breakpoint) {
        width: auto;
        margin: 0;
        float: none;
        border-top: 0;
        box-shadow: none;
        &.offcanvas {
            position: static;
            display: block !important;
            height: auto !important;
            padding-bottom: 0; // Override default setting
            overflow: visible !important;
        }
        // Account for first and last children spacing
        .navbar-nav.navbar-left:first-child {
            margin-left: -$navbar-padding-horizontal;
        }
        .navbar-nav.navbar-right:last-child {
            margin-right: -$navbar-padding-horizontal;
        }
        .navmenu-brand {
            display: none;
        }
    }
}

// Brand/project name
.navmenu-brand {
    display: block;
    font-size: $font-size-large;
    line-height: $line-height-computed;
    padding: $nav-link-padding;
    &:hover,
    &:focus {
        text-decoration: none;
    }
    margin: $navmenu-margin-vertical 0;
}

// Alternate navmenus
// --------------------------------------------------
// Default navmenu
.navmenu,
.navbar-offcanvas {
    .navbar-brand {
        float: none;
    }
}

.navbar+.navmenu {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    z-index: 1029;
}

.navmenu-modal {
    z-index: 1025 !important;
}