// .page-heading {
//     // border-bottom: 1px solid #e7eaec !important;
// }

.page-content {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    
}
.page-sidebar + .page-content,
.page-content + .page-sidebar,
.page-sidebar-right + .page-content {
    padding: 0.1px;
}

.page-main {
    height: auto;
    overflow: hidden;
    .page-content {
        width: auto;
        overflow: hidden;
    }
    .page-sidebar {
        float: left;
        width: $navmenu-width;
    }
    .page-sidebar-right {
        float: right;
        width: $navmenu-width;
    }
    .page-sidebar {
        @media (min-width: $screen-sm-min) {
            &.offcanvas-xs {
                position: relative;
                border-width: 1px;
                border-radius: $border-radius-base;
            }
        }
        @media (min-width:$screen-md-min) {
            &.offcanvas-sm {
                position: relative;
                border-width: 1px;
                border-radius: $border-radius-base;
            }
        }
        @media (min-width:$screen-lg-min) {
            &.offcanvas-md {
                position: relative;
                border-width: 1px;
                border-radius: $border-radius-base;
            }
        }
    }
    &.fixed-width-right {
        padding-right: $navmenu-width;
        @media (max-width: $screen-xs-max) {
            padding-right: 0;
        }
        .page-content {
            float: left;
            width: 100%;
        }
        .page-sidebar {
            float: right;
            margin-right: -$navmenu-width;
        }
        .page-content,
        .page-sidebar {
            @media (max-width: $screen-xs-max) {
                width: 100%;
                float: left;
                margin: 0;
            }
        }
    }
}