@media (max-width: $screen-xs-max) {
    .break-xs {
        width: 100% !important;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .break-sm {
        width: 100% !important;
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .break-md {
        width: 100% !important;
    }
}

@media (min-width: $screen-lg-min) {
    .break-lg {
        width: 100% !important;
    }
}