//== Login Container

.container-login {
	padding-top: $container-login-offset;
	max-width: $container-login;
}

.container-login-2 {
	padding-top: $container-login-offset;
	max-width: $container-login-2;
}

.container-login,
.container-login-2 {
	margin-right: auto;
	margin-left: auto;
	z-index: 100;
	width: 100%;
	padding-left:  floor(($grid-gutter-width / 2));
	padding-right: ceil(($grid-gutter-width / 2));
}