.container-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    >.row {
        display: table-row;
        >[class*=col-] {
            display: block;
        }

        >[class*=col-lg]:not(.col-lg-12) {
            @media (min-width: $screen-lg) {
                display: table-cell;
                float: none;
            }
        }
        >[class*=col-md]:not(.col-md-12) {
            @media (min-width: $screen-md) {
                display: table-cell;
                float: none;
            }
        }
        >[class*=col-sm]:not(.col-sm-12) {
            @media (min-width: $screen-sm) {
                display: table-cell;
                float: none;
            }
        }
        >[class^=col-xs-]:not(.col-xs-12) {
            display: table-cell;
            float: none;
        }
    }
}