/* 
	Table Container to vertical-align middle
 */

.container-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    &.full-page {
        height: 100%;
    }
    >.row {
        display: table-row;
    }
    >.row>[class*=col-] {
        display: block;
    }
}

.container-table>.row.row-vertical-center>[class*=col-] {
    vertical-align: middle;
    text-align: center;
}

.fill {
    height: 100%;
    width: 100%;
}

.container-table>.row>[class^=col-xs-] {
    display: table-cell;
    float: none;
}

@media (min-width: $screen-sm) {
    .container-table>.row>[class*=col-sm] {
        display: table-cell;
        float: none;
    }
}

@media (min-width: $screen-md) {
    .container-table>.row>[class*=col-md] {
        display: table-cell;
        float: none;
    }
}

@media (min-width: $screen-lg) {
    .container-table>.row>[class*=col-lg] {
        display: table-cell;
        float: none;
    }
}