// Weight and italics
.font-weight-normal {
    font-weight: normal;
}

.font-weight-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

.no-underline {
    &,
    &:hover,
    &:visited {
        text-decoration: none !important;
    }
}

.text-body {
    color: $text-color;
}