@media (min-width: $screen-sm-min) {
    .navbar-justified {
        padding-left: 0;
        padding-right: 0;
        .navbar-nav {
            margin: 0 auto;
            display: table;
            table-layout: auto;
            float: none;
            width: 100% !important;
            >li {
                display: table-cell;
                float: none;
                text-align: center;
            }
        }
    }
}