// Designed for fixed navbars
.pt-navbar-height {
    padding-top: $navbar-height
}
.pb-navbar-height {
    padding-bottom: $navbar-height;
}
.mt-navbar-height {
    margin-top: $navbar-height;
    &.navmenu {
        height: calc(100% - #{$navbar-height});
    }
}
.mb-navbar-height {
    margin-bottom: $navbar-height;
}