/* 
	CSS to Enable Navigation sub-menu of dropdown
 */

.navbar-inverse .dropdown-submenu>a {
    @media (max-width: $screen-xs-max) {
        border-color: $navbar-inverse-border;
    }
}

.dropdown-submenu {
    position: relative;
    >.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        border-radius: 0 $border-radius-base $border-radius-base $border-radius-base;
        @media (max-width: $screen-xs-max) {
            display: block;
        }
    }
    &:hover {
        >.dropdown-menu {
            display: block;
        }
    }
    >a {
        @media (max-width: $screen-xs-max) {
            padding: 3px 20px !important;
            font-size: $font-size-small;
            line-height: $line-height-base !important;
            color: $dropdown-header-color !important;
            border-top: 1px solid $dropdown-divider-bg;
            padding-top: 5px + (($line-height-computed / 2) - 1) !important;
            margin-top: (($line-height-computed / 2) - 1);
        }
        >.caret {
            display: inline-block;
            transform: rotate(270deg);
            position: absolute;
            margin-top: -2px;
            right: 8px;
            top: 50%;
            @media (max-width: $screen-xs-max) {
                display: none !important;
            }
        }
    }
}

.navbar-fixed-bottom {
    .dropdown-submenu {
        >.dropdown-menu {
            bottom: 0;
            border-radius: $border-radius-base $border-radius-base $border-radius-base 0;
        }
        >a>.caret {
            transform: rotate(90deg);
        }
    }
}

.navbar-right .dropdown-submenu {
    >.dropdown-menu {
        right: 100%;
        left: auto;
        margin-left: 10px;
        border-radius: $border-radius-base 0 $border-radius-base $border-radius-base;
    }
}