.btn-circle {
    @include btn-circle($btn-circle-size);
    text-align: center;
    line-height: 1.4;
    padding: 0;
    &.btn-lg {
        @include btn-circle($btn-circle-size-lg);
        line-height: 1.33;
    }
    .glyphicon {
        left: 1px;
        line-height: inherit;
    }
}

a.btn-circle {
    &,
    &.btn-lg {
        padding-top: ($btn-circle-size / 5)
    }
}