.btn-outline {
    color: inherit;
    background-color: transparent;
    background-image: none;
    transition: all .5s;
    
    &.btn-default {
        color: $btn-default-border;
    }
    &.btn-primary {
        color: $btn-primary-border;
    }
    &.btn-success {
        color: $btn-success-border;
    }
    &.btn-info {
        color: $btn-info-border;
    }
    &.btn-warning {
        color: $btn-warning-border;
    }
    &.btn-danger {
        color: $btn-danger-border;
    }
    
    &:hover.btn-primary,
    &:hover.btn-success,
    &:hover.btn-info,
    &:hover.btn-warning,
    &:hover.btn-danger {
        color: #fff;
    }
}